
        @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Spray+Paint&family=Unica+One&display=swap');
        body{
            background-color: #84e1ad;
            margin:  0;  
           
             
           
                    
        }
        header{
            background: linear-gradient(rgb(77, 172, 77), rgb(28, 68, 28));
            color: rgb(245, 239, 239);
            margin: 0px;
            padding: 10px ;
            text-align: center;
            
            
        }
        nav{
            color: white;
            display: flex;
           
        }
        nav > a{
            color: white;
            margin: 0px 10px;
            padding: 0px ;
        }
        
        div{
            text-align: center;
            border-radius: 25px;
        }

        article{

            background-color: white;
            margin:  0% 50px 20px 50px;
            padding-bottom: 15px;
            border-radius: 0px 0px 15px 15px ;
            box-shadow: 0px 7px 10px #0f6936;
            
            


        }

        h1{
            font-size: 35px;
            font-family: "Archivo Black";
            color: green;
            padding: 0px 0px 0px 10px;
            margin: 10px;
            margin-top: 0%;
        }
        #cabecalho{
            color: white;

        }
        p{ 
            padding: 0px 0px 0px 10px;
            text-indent: 20px;
            font-size: 18px;
        }
        .video_youtue_android{
            background-color: green;
            padding: 30px;
        }

        #bloco_destaque{
            background-color: #b5e7cb;
            margin: 20px;
            height: auto;
            width: auto;
           
            
        

        }
        #titulo-bloco{
            background-color: #0f6936;
            color: white;
            padding:2px;
        
            border-radius: 25px 25px 0px 0px;
            font-weight: bold;
            text-align: left;
            


        }
        #conteudo_bloco{
            padding: 10px;
            text-align: left;



        }
        a{
            font-family: Arial, Helvetica, sans-serif;
            color: #0f6936;
            text-decoration: none;
            font-weight: bold;


        }
        .cor_destaque{
            color: #0f6936;
            font-weight: bold;

        }
        #feito_por{
            padding: 2px;
            border: 0px;
            border-radius: 0%;
            background-color: #0f6936;
            color: white;
            font-weight: bold;


        }
        #roda_pe{
            color: rgb(133, 224, 133);

        }
        .palavras_roda_pe{
            color: white;
        }
        .listas_versoes{
            display: flex;
            font-size: large;
            text-align: left;
            gap: 200px;
            
            
        }
        
            
       
        

        
        
