@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lilita+One&family=Rubik+Spray+Paint&family=Unica+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lilita+One&family=Rubik+Spray+Paint&family=Sriracha&family=Unica+One&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background: url(imagens/background001.jpg) center center fixed;
    

}
header{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    text-align: center;
    
}
#cabecalho{
    padding: 50px 0px 10px 0px ;
    font-family: "Lilita One", Arial, sans-serif;
    font-size: 80px;
}

#cordeu{
    text-align: left;
    font-family: 'Sriracha','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
    
}
#cordeu p{
    font-size: 30px;
    line-height: 1.8;
         background-color: rgb(231, 211, 184);
}
#estrofe1{
    padding: 25px;
}
#estrofe2{
    padding: 25px;
    margin: 20;
    
}
#estrofe3{
    padding: 25px;
}
#estrofe4{
    padding: 25px;
}
#estrofe5{
    padding: 25px;
}
#estrofe6{
    padding: 25px;
}

#fundo_de_flor{
    background-position: center center ;
    color: white;
    height: 500px;
    
    
    
}
#fundo_tranparente{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.185);
    
    
    
}
#fundo_tranparente p{
    background-color: transparent;
}